<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-1">{{id !== '0'? 'Editar' : 'Novo' }} Usuario</h3>
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nome">
      </div>

      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.email">
      </div>

      <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.cpf">
      </div>

      <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.telefone">
      </div>

      <div class="mb-3">
        <label class="form-label">Sexo</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.sexo">
      </div>

      <div class="mb-3">
        <label class="form-label">Data Nacimento</label>
        <input type="date" class="form-control" [(ngModel)]="usuario.dataNascimento">
      </div>

      <a class="btn btn-primary" [routerLink]="['/']">Voltar</a>
      <button class="btn btn-success ml-3" (click)="save()">Salvar</button>
    </div>
  </div>
</div>
